

.bchart .bar 
{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.bchart .nlabel
{
	opacity: 0;
	transition: opacity 0.5s;
}

.bchart .bar:hover .nlabel
{
	opacity: 1;
}

.bchart .barName
{
	width:20rem;
	font-size: 10px;
}
.bchart .barCont *
{
	display: inline-block;
}
.myTitle
{
	text-align: center;
}